@use 'sass:math';
@use 'sass:color'; 
@import "variables";

.btn {
    background-color: $primary-color;
    padding: math.div($base-padding, 2);
    border-radius: 5px;
    color: white;
    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
}
